:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 100%;
  .video-wrapper {
    overflow: hidden;
    video {
      width: 100vw;
      max-width: 100%;
      height: calc(92.5vw + 24px);
      max-height: calc(92.5vw + 24px);
      object-fit: cover;
      z-index: 2;
    }
    canvas {
      width: 100vw;
      height: calc(92.5vw + 24px);
      max-height: calc(92.5vw + 24px);
      object-fit: cover;
      position: absolute;
      max-width: 100%;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -1;
    }
  }
  main {
    z-index: 10;
    display: grid;
    grid-template-areas: 'contact title copy' 'result result result';
    grid-template-columns: 40px minmax(max-content, 1fr) 40px;
    grid-template-rows: max-content 1fr;
    grid-gap: 16px;
    width: 95vw;
    max-width: 95%;
    justify-content: center;
    padding: 12px 0;
    .contact {
      grid-area: contact;
      opacity: 0.5;
    }
    .mat-typography {
      grid-area: title;
      h1 {
        color: #000;
        margin: 4px auto;
        text-align: center;
      }
    }
    .copy {
      grid-area: copy;
    }
    .result {
      grid-area: result;
      text-align: center;
      width: 90%;
      margin: auto auto 64px;
    }
    .active {
      color: black;
    }
  }
  @media only screen and (min-width: 600px) {
    .video-wrapper {
      margin-top: 12px;
      border-radius: 20px;
      max-width: 620px;
    }
    main {
      max-width: 620px;
    }
  }
}
