<div class="video-wrapper">
  <video #video></video>
  <canvas #canvas></canvas>
</div>

<main>
  <section class="mat-typography">
    <h1>Read QR code</h1>
  </section>

  <button
    [color]="result ? 'primary' : ''"
    [disabled]="!result"
    mat-mini-fab
    matTooltip="Copy result to clipboard"
    class="copy"
    (click)="copy()"
    aria-label="Copy result to clipboard"
  >
    <mat-icon>file_copy</mat-icon>
  </button>

  <!--   <button
    *ngIf="result && isVcard"
    color="primary"
    mat-mini-fab
    matTooltip="Add contact"
    class="copy"
    (click)="copy()"
  >
    <mat-icon aria-label="Navigate to read QR code">person_add</mat-icon>
  </button>
-->

  <mat-form-field class="result" appearance="fill">
    <textarea
      matInput
      aria-label="Result of read (when read has been made)"
      placeholder="Result will appear here!"
      type="text"
      matTextareaAutosize="true"
      [(ngModel)]="result"
      [ngClass]="{ active: result }"
      disabled
    ></textarea>
  </mat-form-field>
</main>
