:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 100%;
  .code-wrapper {
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    img {
      max-width: 100%;
      max-height: 92.5vw;
    }
  }
  main {
    display: grid;
    grid-template-areas: 'history title save' 'input input input' 'info info info';
    grid-template-columns: 40px minmax(max-content, 1fr) 40px;
    grid-template-rows: max-content 1fr max-content;
    grid-gap: 8px;
    width: 95vw;
    max-width: 95%;
    justify-content: center;
    height: 100%;
    padding: 12px 0;
    margin: auto auto 64px;
    .history {
      grid-area: history;
      opacity: 0.5;
    }
    .mat-typography {
      grid-area: title;
      h1 {
        color: #000;
        margin: 4px auto;
        text-align: center;
      }
    }
    .save {
      grid-area: save;
    }
    .form-field {
      grid-area: input;
      text-align: center;
      width: 90%;
      margin: 12px auto auto;
    }
    .info {
      grid-area: info;
      font-size: 0.8em;
      color: #666;
      text-align: center;
    }
  }
  @media only screen and (min-width: 600px) {
    .code-wrapper {
      margin-top: 12px;
      max-width: 620px;
    }
    main {
      max-width: 620px;
    }
  }
}
