<div class="code-wrapper">
  <img [src]="imageFileSVG" alt="QR code" #img />
</div>

<main>
  <section class="mat-typography">
    <h1>Create new code</h1>
  </section>

  <button
    class="save"
    #saveImage
    matTooltip="Save as image"
    [color]="text ? 'primary' : ''"
    [disabled]="!text"
    mat-mini-fab
    [matMenuTriggerFor]="saveMenu"
    aria-label="Save Qr code to your device"
  >
    <mat-icon>save_alt</mat-icon>
  </button>

  <mat-form-field
    class="form-field"
    appearance="fill"
    (click)="scrollToBottom()"
  >
    <textarea
      matInput
      placeholder="Type here, new QR code will be generated automatically!"
      type="text"
      aria-label="Text to be generated as QR code"
      rows="4"
      [(ngModel)]="text"
    ></textarea>
  </mat-form-field>
</main>

<mat-menu #saveMenu="matMenu">
  <p mat-menu-line class="selectFormat">
    Select format:
  </p>
  <a
    mat-menu-item
    download="qr_code"
    [href]="imageFileSVG"
    [disabled]="!imageFileSVG"
    >SVG</a
  >
  <a
    mat-menu-item
    download="qr_code"
    [href]="imageFileJPG"
    [disabled]="!imageFileJPG"
    >JPG</a
  >
  <a
    mat-menu-item
    download="qr_code"
    [href]="imageFilePNG"
    [disabled]="!imageFilePNG"
    >PNG</a
  >
</mat-menu>
