// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();
// hue. Available color palettes: https://material.io/design/color/
$read-primary: mat-palette($mat-light-blue);
$read-accent: mat-palette($mat-pink, A200, A100, A400);

$read-warn: mat-palette($mat-red);

$read-theme: mat-light-theme($read-primary, $read-accent, $read-warn);
@include angular-material-theme($read-theme);

// Dark
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  z-index: 999;
}

html,
body {
  height: 100%;
}
.mat-form-field-infix {
  border: none;
}
.warn {
  background: #d32f2f;
  color: #fff;
}
.bold {
  font-weight: 700 !important;
}
.selectFormat {
  margin: 8px 16px;
  font-size: 12px;
  color: #666;
}
