:host {
  display: flex;
  flex-flow: column;
  width: calc(100vw - 128px);
  height: 100vh;
  max-width: calc(100% - 128px);
  padding: 0 64px;
  .nav {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.18);
    border-radius: 24px;
    margin: 4px;
    position: fixed;
    display: flex;
    left: 4px;
    // Desktop
    top: 4px;
    flex-flow: column;
    height: auto;
    max-width: 48px;
    padding: 6px 0;
    button {
      margin: 4px 0;
      color: #eee;
    }
    .active {
      color: #40c4ff;
    }
  }
}
@media only screen and (max-width: 600px) {
  :host {
    padding: 0;
    width: 100vw;
    max-width: 100%;
    .nav {
      height: 40px;
      top: auto;
      bottom: 12px;
      left: 0;
      right: 0;
      margin: auto;
      flex-flow: row;
      height: auto;
      max-width: calc(70% - 16px);
      padding: 6px 0;
      justify-content: center;
      button {
        margin: auto;
      }
    }
  }
}
