<router-outlet></router-outlet>

<div class="dark-theme">
  <mat-toolbar class="nav">
    <button
      mat-icon-button
      aria-label="Open view to generate a QR code"
      matTooltip="Generate a new QR code"
      [matTooltipPosition]="isMobile ? 'above' : 'right'"
      [routerLink]="['/']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
    >
      <mat-icon aria-label="Navigate to create new QR code"
        >add_circle</mat-icon
      >
    </button>
    <button
      mat-icon-button
      aria-label="Open view to read a QR code"
      matTooltip="Read QR code"
      [matTooltipPosition]="isMobile ? 'above' : 'right'"
      [routerLink]="['/read']"
      routerLinkActive="active"
    >
      <mat-icon aria-label="Navigate to read QR code"
        >filter_center_focus</mat-icon
      >
    </button>
    <button
      mat-icon-button
      aria-label="Info about the app"
      matTooltip="About this app"
      [matTooltipPosition]="isMobile ? 'above' : 'right'"
      [routerLink]="['/about']"
      routerLinkActive="active"
    >
      <mat-icon aria-label="Tell me about this app">info</mat-icon>
    </button>
  </mat-toolbar>
</div>
