<main class="mat-typography">
  <img src="/assets/logo.png" alt="Get QR logo" />

  <h1 class="bold">Get QR</h1>

  <p class="desc">
    Simple web based QR code generator and reader. <br />
    No Warranty. No personal data collected.
  </p>

  <p class="creator">Created by Teemu Lahjalahti</p>
  <a href="https://medium.com/@tremppu" rel="noopener" target="_blank"
    >@Tremppu - Medium</a
  >

  <h3 class="bold">Libraries behind this:</h3>
  <a href="https://www.npmjs.com/package/qrcode" rel="noopener" target="_blank"
    >Node-qrcode</a
  >
  <a href="https://www.npmjs.com/package/jsqr" rel="noopener" target="_blank"
    >jsQR</a
  >

  <h4 class="bold">Get the code</h4>
  <p class="lis">License: MIT</p>
  <a href="https://bitbucket.org/tremppu/get-qr" rel="noopener" target="_blank"
    >https://bitbucket.org/tremppu/get-qr</a
  >
</main>
