:host {
  main {
    padding: 12px 12px 96px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    img {
      width: 200px;
      margin: 20px auto 12px;
      object-fit: contain;
      max-width: 70%;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.1));
    }
    h1 {
      margin: 12px auto 4px;
    }
    h3,
    h4,
    .desc {
      margin: 20px 0;
    }
    .creator,
    .lis {
      color: #666;
      margin: 0 0 4px;
    }
    a {
      color: #0652d2;
      margin: 2px auto;
    }
  }
}
